<nav>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link" href="/stockdamage">Stock Damage Entry</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
</nav>
