<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" href="/">Stock Damage</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/stockdamage">Stock Damage Entry</a>
            </li>
        </ul>
    </div>
</nav>
